<ion-view view-title="Guitar Chords">
  <ion-content>

<div class="chord_wrapper list card"
     style="background-color: white; margin: 1em;"
     ng-repeat="(scoreIndex, frets) in chordsCtrl.score track by $index">

    <div class="item item-image"
         style="margin: 2em; border: none!important;"
         ng-style="{ 'width' : chordsCtrl.numberOfStrings * (chordsCtrl.stringGap) }">

        <label class="item item-input" style="margin-bottom: 20px;">
            <input ng-model="$root.scoreText[scoreIndex]"
                ng-style="{ width : chordsCtrl.numberOfStrings * (chordsCtrl.stringGap) }"
                type="text"
                style="text-align: center;"
                placeholder="Chord name"
                ng-change="chordsCtrl.updateChord(scoreIndex)"/>
        </label>

        <svg id="chord_{{scoreIndex}}"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             version="1.1"
             viewBox="0 0 120 120" preserveAspectRatio="xMidYMax meet"
             ng-show="chordsCtrl.showSvg">

            <g transform="translate(10, 2) rotate(90 50 50)">
                <g ng-attr-transform="translate({{fretIndex * chordsCtrl.gap}}, 0)"
                   ng-attr-stroke-width="2"
                   ng-attr-stroke="black"
                   ng-repeat="(fretIndex, fret) in frets">

                    <line ng-repeat="(mapIdx, mapping) in fret track by $index"
                          id="line_{{$index}}"
                          ng-attr-x1="{{mapping.x1}}"
                          ng-attr-y1="{{mapping.y1}}"
                          ng-attr-x2="{{mapping.x2}}"
                          ng-attr-y2="{{mapping.y2}}"
                          ng-click="chordsCtrl.clickCircle(mapping, scoreIndex, fretIndex, $index)"
                          ng-attr-stroke="{{chordsCtrl.line_stroke}}"
                          ng-attr-stroke-width="{{chordsCtrl.line_stroke_width}}"/>

                    <circle ng-repeat="(mapIdx, mapping) in fret track by $index"
                            ng-click="chordsCtrl.clickCircle(mapping, scoreIndex, fretIndex, $index)"
                            id="circle_l_{{$index}}"
                            ng-attr-cx="{{ mapping.x1 + (mapping.x2 - mapping.x1) / 2 }}"
                            ng-attr-cy="{{ mapping.y1 + (mapping.y2 - mapping.y1) / 2 }}"
                            ng-attr-r="{{chordsCtrl.circle_l_r}}"
                            ng-attr-stroke="{{ mapping.show ? chordsCtrl.circle_l_stroke : 'transparent' }}"
                            ng-attr-stroke-width="{{chordsCtrl.circle_l_stroke_width}}"
                            ng-attr-fill="{{ mapping.show ? (mapping.playing ? 'dodgerblue' : chordsCtrl.circle_l_fill) : 'transparent' }}">
                    </circle>

                    <line ng-attr-x1="0"
                          ng-attr-y1="0"
                          ng-attr-x2="0"
                          ng-attr-y2="{{ chordsCtrl.gap * chordsCtrl.numberOfFrets }}"
                          ng-attr-stroke="{{ mapIdx !== 0 ? chordsCtrl.line_stroke : 10 }}"
                          ng-attr-stroke-width="{{ chordsCtrl.line_stroke_width }}">
                    </line>

                </g>
            </g>
        </svg>
    </div>

    <a ng-disabled="chordsCtrl.playing" 
       class="item item-icon-left" 
        ng-class="{ 'assertive' : !chordsCtrl.playing, 'stable' : chordsCtrl.playing }" 
        ng-click="chordsCtrl.playChord(scoreIndex)">
        <i class="icon ion-music-note"></i>
        Play Note
    </a>

    <a class="item item-icon-left assertive" ng-click="chordsCtrl.exportToPng(scoreIndex)">
        <i class="icon ion-gear-a"></i>
        Export PNG
    </a>
</div>

  </ion-content>


<div class="tabs tabs-icon-only">
<!--
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
-->

  <a class="tab-item" ng-click="chordsCtrl.playSong()">
    <i class="icon" ng-class="{ 'ion-play' : !chordsCtrl.playing, 'ion-stop' : chordsCtrl.playing }" ></i>
  </a>
<!--
  <a class="tab-item" ng-click="chordsCtrl.exportToPng()">
    <i class="icon ion-gear-a"></i>
  </a>
-->

</div>
</ion-view>
