#empty_list .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
#empty_list .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}